{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="container">
        <div class="card m-5">
            <span class="text-center m-3">Название блюда</span>
            <div class="row">
                <div class="col m-3">
                    <img 
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf-0sGZAg-uD6n33qrl-6_DCbvsielmTK5qw&s" 
                    alt="фото блюда" 
                    class="rounded img-fluid object-fit-cover">
                </div>
                <div class="col">
                    <p>Какое-то очень вкусное блюдо. Бла бла бла. Какое-то описание. Какой-то текст.</p>
                </div>
            </div>
        </div>  
    </div>
{% endblock %}