{% extends "base.html" %}

{% block title %}Добавление рецепта{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mx-auto" style="max-width: 600px;">
            <h5 class="text-center m-3">Добавьте рецепт</h5>
            <div class="px-4 py-3">
                <form action="#" enctype="multipart/form-data" class="form">
                    <input type="text" placeholder="Название блюда" class="form-control mb-3"> 
                    <input type="text" placeholder="Описание" class="form-control mb-3">
                    <textarea placeholder="Рецепт" class="form-control mb-3" rows="4"></textarea> 
                    <input type="file" class="form-control mb-3" accept="image/*"> 
                    <button class="btn btn-light w-100">Добавить</button> 
                </form>
            </div>
        </div>
    </div>
{% endblock %}